h1 {
	color:red;
	font: 24pt;
	text-decoration: underline;
	font-family: tahoma, Arial, Helvetica, sans-serif;
}
em {
	font-style: normal;
	color:green;
	background-color: lightgrey;
	font-weight: bold;
}
ul {
	list-style-type: square;
}